*~
release/
build/
out/
dist/
bin/
gen/
classes/
.DS_Store
.idea
local.properties
*.iml
*.iws
projectFilesBackup/
project.properties

.gradle

*.keystore
*.apk
manifest-merger-release-report.txt
*.zip
*scan_*/
*.py[co]

device-*.png
