[submodule "third_party/usb-serial-for-android"]
	path = third_party/usb-serial-for-android
	url = https://github.com/AndProx/usb-serial-for-android.git
	branch = andprox
[submodule "third_party/GraphView"]
	path = third_party/GraphView
	url = https://github.com/AndProx/GraphView.git
	branch = master
[submodule "third_party/proxmark3"]
	path = third_party/proxmark3
	url = https://github.com/micolous/proxmark3.git
	branch = andprox-master

